<% @animals.each do |animal| %>
  <div class="">
    <h2><a href="/<%= animal.id %>"><%= animal.animal_name %></a></h2>
    <h3><%= animal.latin_name %></h3>
    <p><%= animal.description %></p>
  </div>
<% end %>
