<h2><%= @animal.animal_name %></h2>
<h3><%= @animal.latin_name %></h3>
<p><%= @animal.description %></p>

<form action="/<%= @animal.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Animal">
</form>
